.type-view-header
  background-color #fff
  padding 1.8em 2em 1em
  box-shadow 0 1px 2px rgba(0,0,0,.1)
  h1
    display inline
    font-size 1.5em
    margin 0
    margin-right .5em

.type-view-details
  background-color #fff
  margin-top 10px

.type-list-wrapper
  list-style-type none
  padding 0
  margin 0
  .type-list-item
    background-color #fff
    padding 34px 30px 34px 80px
    border-bottom 1px solid #eee
    position relative
    line-height 20px
    .title
      color #59BBA5
      font-size 1.1em
      font-weight 700
      position absolute
      top 50%
      left 0
      width 80px
      text-align center
      margin-top -10px
    .des
      a
        cursor pointer

@media (max-width 600px)
  .type-view-header
    h1
      font-size 1.25em
