.user-view-header
  background-color #fff
  padding 1.8em 2em 1em
  box-shadow 0 1px 2px rgba(0,0,0,.1)
  h1
    display inline
    font-size 1.5em
    margin 0
    margin-right .5em
    .logout
      float right
      font-size .6em
      font-weight 400
      line-height 2.4em
      color #828182
      cursor pointer
    span
      color #59BBA5

.user-view-details
  background-color #fff
  padding 1em 2em
  margin-top 10px
  .user-option-title
    font-size 1.2em
    a
      font-weight 400
      color #828182
      cursor pointer
    .page-btn
      float right
    span
      padding-left 2em
      cursor pointer
      font-size .9em
  .user-view-item
    padding 1.5em 1em
    p
      color #757475
    label
      font-size 1.2em
      margin 0
      margin-right .5em
    input
      border 0
      border-radius 0
      border-bottom 1px solid rgba(0,0,0,.2)
      outline none
      line-height 2em
      font-size 1.2em
      color: #59BBA5
    .user-option
      color #59BBA5
      cursor pointer

.collection-list
  padding-left 1em
  li
    padding-top 1em
    list-style none
    cursor pointer
    i
      color #EFC14E

@media (max-width 600px)
  .user-view-header
    h1
      font-size 1.25em
  .user-view-details
    .user-option-title
      font-size 1em
  .collection-list
    padding-left .5em
